<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
        <add key="github" value="https://nuget.pkg.github.com/kklldog/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="zcxb" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>